@import "../colors";

.serviceColumn{
    width: 100%;
    height: 100%;
    background: $NavbarTextColor;
    border: 1px solid $lightgray;
    text-align: center;
    padding: 20px 14px;
    cursor: pointer; 
    border-radius: 10px;  
}
.serviceColumn:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.ServieImginfo{
    .imageColumn, .himageColumn{
        margin: auto !important;
    }
}
.serviceTitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin: 5px 0 6px;
    line-height: 20px;
    text-align: center;
    color: $blacktext;
    span{
        display: block;
        font-size: 15px;
        padding-top: 5px;
      }
}
.serviceText
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: $blacktext;
    display: block;
    span{
        display: block;
        font-size: 14px;
        padding-top: 5px;
      }
}
.serviceColumn:hover{
    background-color: $titlecolor;  
}
.serviceColumn:hover .serviceTitle {
    color: $NavbarTextColor;
}
.serviceColumn:hover .serviceText{
    color: $NavbarTextColor;
}
.serviceColumn:hover .imageColumn, .himageColumn{
    display: none !important;
}
.serviceColumn:hover .himageColumn{
    display: block !important;
}
.docServicebg{
    background: $docbgcolor;
}
.editServicebg{
    background: $editbgcolor;
}
.reportServicebg{
    background: $reportbgcolor;
}
.finishServicebg{
    background: $finishbgcolor;
}
.slotServicebg{
    background: $slotbgcolor;
}
.mvServicebg{
    background: $mvcalcolor;
}
.stampservicebg{
    background: $acknowledgbgcolor
}
.paymentbg{
    background: $acknowledgbgcolor;
}
.ServicepageMsain{
    .BacBtnContainer{
        display: flex;
        padding-bottom: 10px;
            span{
                font-size: 18px;
                color: $titlecolor;
                font-weight: 600;
                font-family: 'Montserrat';
            }
    }
}
.ServiceLandigInfo{
    padding-top: 120px;
    .serviceMainCon{
        width: 18%;
    }
}
@media (max-width: 1023px) {

    .serviceColumn{
        padding-bottom: 20px;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
    .ServicepageMsain{
        padding: 40px 0;
        .serviceColumn{
            margin-bottom: 20px;
            width: 100%;
            max-width: 100%;          
        }
        .serviceMainCon{
            margin-bottom: 20px;
        }
    }
    .ServiceLandigInfo{
        padding-top: 120px;
        .serviceMainCon{
            width: 80%;
        }
    }
}
@media all and (min-width: 320px) and (max-width: 767px) {
    .ServicepageMsain{
        padding: 80px 0;
        .serviceColumn{
            margin-bottom: 20px;
            width: 100%;
            max-width: 100%;          
        }
        .serviceMainCon{
            margin-bottom: 20px;
        }
    }
    .ServiceLandigInfo{
        padding-top: 120px;
        .serviceMainCon{
            width: 100%;
        }
    }
}

