@import '../colors.scss';

%shared {
    color: $NavbarTextColor;
    line-height: 18px;
    font-size: 15px;
    font-weight: 700;
    font-family: Montserrat;
    padding: 10px 24px;
    border-radius: 4px;
    background: $titlecolor;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: start;
}

.button{
    @extend %shared
}

.button:hover{
    opacity: .9;
}

.button:disabled{
    @extend %shared;
    cursor: not-allowed;
    opacity: 0.7;
    i {
        margin-left: -12px;
        margin-right: 8px;
    }
}
.loader {
    border: 2px solid $NavbarTextColor;
    border-radius: 100%;
    border-top: 4px solid transparent;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
