@import '../colors.scss';

.box{
    display: flex;
    gap: 8px;
    align-items: center;

    label {
        background-color: $titlecolor;
        font-size: 16px;
        font-weight: 600;
        color: $NavbarTextColor;
        letter-spacing: 2px;
		padding: 6px;
        border-radius: 3px;
        width: 100%;
        height: 36px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
    }

    img {
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
}

.disableSelect {
    user-select: none;
}