@import "../colors";

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    // z-index:9999;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    align-items: center;
    animation: Loader 2s ease infinite;
}

@keyframes Loader {
    100% {
        transform: rotate(360deg)
    }
}

.container{
    background-color: rgba(0,0,0,0.5);
    // background-color:rgb(60, 60, 60, .9);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;

}