@import "../colors.scss";

%shared {
    color: $NavbarTextColor;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
    padding: 8px 16px;
    border-radius: 4px;
    background: $titlecolor;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: start;

}

.button {
    @extend %shared
}

.button:hover {
    opacity: .9;
}

.button:disabled {
    @extend %shared;
    cursor: not-allowed;
    opacity: 0.7;
}

.container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
    top: 0;
    background-color: rgba(0, 0, 0, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    cursor: default;
    font-family: "Montserrat";

    .content {
        background-color: white;
        border-radius: 8px;
        min-width: 40%;
        min-height: 40%;
        position: relative;
        display: flex;
        flex-direction: column;

        .loader {
            position: absolute;
            top: 45%;
            left: 45%;
            animation: Loader 2s ease infinite;
        }

        @keyframes Loader {
            100% {
                transform: rotate(360deg)
            }
        }

        .bodyContent {
            flex-grow: 1;
            display: flex;
            flex-flow: column;          

            .flexBox {
                display: flex;
                margin: 8px 16px;
                color: $black;
                font-size: 15px;
                font-weight: 600;
                border-bottom: 1px solid $black;

                &>div {
                    width: 50%;
                    padding: 8px;
                }


            }
        }

        .footer {
            display: flex;
            justify-content: flex-end;
            padding: 8px;
        }


        .header {
            padding: 8px 0px;
            font-weight: 700;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            background-color: $titlecolor;
            color: $NavbarTextColor;

            &>span:first-child {
                padding-bottom: 4px;
            }

            .crossButton {
                cursor: pointer;
                padding-right: 16px;
            }
        }
    }
}