$lightgray: #D9D9D9;
$titlecolor:#3668A1;
$black: #333333;
$boldColor : #4EBCC4;
$primaryColor:#1AA3E3;
$NavbarTextColor:#FFFFFF;
$TableBlackColor: #ececec;
$placeholder: #33333357;
$dark-charcoal: #000000;
// $dark-charcoal: #333333;
$bordercolor: #D9D9D9;
$tabbgcolor:#F6F6F6;
$SelectedColor: #11549A;
$tableHeaderBlue: #086EA7;
$light-grey: #F5F5F5;
$docbgcolor:#9FB0CC;
$editbgcolor: #B1DEE4;
$reportbgcolor: #F4D3B0;
$finishbgcolor: #C2DEC6;
$slotbgcolor:#DECFC8;
$activetabtext: #465D6C;
$inactivetabtext:#D6D6D6;
$partydatabgcolor: #f2f2f2;
$cardheadderbg:#1C595E;
$viewbgcolor:#4EBCC4;
$footerbgcolor: #4E4E4E;
$blacktext:#000000;
$addexeviewbg:#F6F6F6;
$slotcolor:#2B8E46;
$slotredcolor:#FF0000;
$marketbtncolor:#19981E;
$charcolbgcolor:#CFC0CB;
$acknowledgbgcolor:#F4CDD6;
$bookslipbgcolor:#B7C0D6;
$form60bgcolor:#DED4C2;
$inputbgcolor:#E6E6E6;
$successtextcolor: #13B72D;
$boot-bg-red: #dc4c64;
$gainsboro: #dcdcdc;
$mvcalcolor: #a8def3;












