name: CI-CD-PM2-Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install --legacy-peer-deps

      - name: SonarQube Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          npx sonar-scanner \
            -Dsonar.projectKey=pde_ui \
            -Dsonar.sources=. \
            -Dsonar.host.url=http://10.10.120.20:9000 \
            -Dsonar.token=$SONAR_TOKEN

      - name: Deploy to Ubuntu Server (PM2)
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: 10.10.120.190
          username: ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/PDE_UI
            git pull origin main
            npm install --legacy-peer-deps
            pm2 reload ecosystem.config.js --env production
